<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Unit">
      <file>tests/FodIdTest.php</file>
      <file>tests/DidClientTest.php</file>
    </testsuite>
    <testsuite name="Live">
      <file>tests/DidClientLiveTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
